@{
    ViewBag.Title = "Welcome to my Personal Web Tool Project";
}

<h1>@ViewBag.Title</h1>
<div class="list-group">
    <a asp-controller="BlogPost" asp-action="List">Blog</a>
    <a asp-controller="Home" asp-action="About">About me</a>
</div>
