@model PostCategory

@{ 
    string title = ViewBag.Action + " category";
    ViewBag.Title = title;
}

<h1>@ViewBag.Title</h1>

<form method="post" asp-area="Admin" asp-controller="Category" asp-action="Update">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="PostCategoryID">Category ID</label>
        <input asp-for="PostCategoryID" readonly />
    </div>
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="Category" asp-action="List" class="btn btn-primary">Cancel</a>
</form>
