@model BlogPostCreateViewModel

    <form enctype="multipart/form-data" asp-controller="BlogPost" asp-action="AddImage" method="post">
<input asp-for="BlogID" type="hidden" />
        <div class="form-group">
            <label asp-for="Image"></label>
            <div class="custom-file">
                <input asp-for="Image" class="form-control custom-file-input" />
                <label class="custom-file-label">Choose File...</label>
            </div>
        </div>
        <button type="submit">Add</button>

        @section Scripts {
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
        </script>
        }
    </form>