@model BlogPostCreateViewModel
@{
    string title = ViewBag.Action + " Blog Post";
    ViewBag.Title = title;
}

<h1>@ViewBag.Title</h1>

<form enctype="multipart/form-data" asp-controller="BlogPost" asp-action="Update" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="blogPost.BlogPostID" />
    <input type="hidden" asp-for="blogPost.ImageUrl" />
    <input type="hidden" asp-for="blogPost.ImageName" />
    <div class="form-group">
        <label asp-for="blogPost.DateCreated">Date:</label>
        <br />
        <input asp-for="blogPost.DateCreated" />
    </div>
    <div class="form-group">
    </div>
    <div class="form-group">
        <label asp-for="blogPost.Title">Title:</label>
        <br />
        <input asp-for="blogPost.Title" />
    </div>
    <div class="custom-file">
        <input asp-for="Image" class="form-control custom-file-input" />
        <label class="custom-file-label">Choose Image...</label>
    </div>
    <div class="form-group">
        <label asp-for="blogPost.Category">Category:</label>
        <br />
        <select asp-for="blogPost.PostCategoryID" class="form-control" asp-items="@(new SelectList(ViewBag.Categories, "PostCategoryID", "Name", Model.blogPost.PostCategoryID.ToString()));"></select>
    </div>
    <div class="form-group">
        <label asp-for="blogPost.Body">Body:</label>
        <br />
        <textarea rows="20" placeholder="What is on your mind?" class="blog-post-body" rows="15" asp-for="blogPost.Body" ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="BlogPost" asp-action="List" class="btn btn-primary">Cancel</a>
</form>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>
}