/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets.

    colors:
    #272727 - dark grey
    #747474 - light grey
    #FF652F - orange
    #FFE400 - yellow
    #14A76C - green
    #a72a14 -
*/

.delete-action {
    margin-left: 20px;
}

.blog-post {
    height: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(20,167,108, 0.5);
}

.blog-post-title {
    margin-top: 10px;
    color: #14A76C;
}

.blog-post-body {
    width:100%;
    height: 30em;
}

.fa-bars {
    color: #272727;
}

.blog-post-date {
    display: block;
    margin-top: 10px;
    padding-bottom: 5px;
    text-decoration: underline;
}

a:hover {
    color: #FFE400;
    text-decoration: none;
}

.badge-link a {
    display: block;
    color: #272727;
    background-color: #ff4a2b;
    padding: 8px;
    border-radius: 2px;
    margin: 15px;
    font-weight: 700;
}


.badge-link > a.active {
    display: block;
    color: #272727;
    background-color: #a72a14;
    padding: 8px;
    border-radius: 2px;
    margin: 15px;
}


.badge-post {
    float: right;
    color: #272727;
    background-color: #ff4a2b;
    padding: 5px;
    border-radius: 2px;
    margin: 4px;
    font-weight: 700;
}

    .badge-post:hover {
        color: #272727;
        background-color: #a72a14;
    }


body {
    font-family: 'Roboto', sans-serif;
    color: #747474;
    background-color: #272727;
}

.navbar {
    background-color: #0e703a;
}

.nav-link {
    color: #272727;
    font-weight: 600;
    margin-right: 20px;
}

.blog-post p {
    overflow: hidden;
    height: 75px;
}


.blog-post h3 {
    color: #14A76C;
}

.blog-post img {
    max-height: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /*
    width: auto;
    height: 100%;*/
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
}


table {
    border-collapse: collapse;
}

th, td {
    color: #747474;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    color: #272727;
    margin-right: 30px;
}

/* Provide sufficient contrast against white background */
a {
    color: #14a76C;
}

body .btn-primary {
    color: #272727;
    font-weight: 700;
    background-color: #FF652F;
    border-color: #a94421;
}

.btn-primary:hover {
    color: #272727;
    background-color: #a72a14;
    border-color: #a72a14;
}

body .btn-primary:active {
    color: #272727 !important;
    background-color: #a72a14 !important;
    border-color: #a72a14 !important;
    box-shadow: 0 0 0 0.2rem #a72a14!important;
}

body .btn-primary:focus, body .btn-primary.focus {
    color: #272727 !important;
    background-color: #a72a14 !important;
    border-color: #a72a14 !important;
    box-shadow: 0 0 0 0.2rem rgba(167, 42, 20, 0.55);
}
/*.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*@media only screen and (max-width: 768px) {
    .blog-post {
        height: auto;
    }
}*/
